@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}
/* ------------------Header style---------------- */
/* ---------------------------------------------- */
header {
    background-color: #1F2229;
    height: 60px;
}

nav {
    height: 60px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #3E9DFF;
    font-size: 26px;
    font-weight: 500;
}

ul li a {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

ul li a:hover {
    color: #3E9DFF;
}

ul li {
    display: inline;
}

ul li + li {
    margin-left: 10px;
}

.user {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.user:hover {
    color: #d0d0d0;
}
/* ------------------Main style------------------ */
/* ---------------------------------------------- */

main {
    height: 100%;
}

/* .shape-factory {
    height: 100%;
}

.factory {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */