@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* ------------------Header style---------------- */
/* ---------------------------------------------- */

header {
    background-color: #1F2229;
    height: 60px;
}

nav {
    height: 60px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

nav h1 a {
    color: #0076f1;
    font-size: 26px;
    font-weight: 500;
}

ul li a {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

ul li a:hover {
    color: #0076f1;
}

nav ul {
    display: flex;
    gap: 20px;
}

.user {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.user:hover {
    color: #a7a7a7;
}

/* ------------------Main style------------------ */
/* ---------------------------------------------- */

main {
    height: 100%;
}

.fakebook {
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    background-color: #1F2229;
    padding: 14px;
    border-radius: 4px;
}

.fakebook textarea {
    background-color: #1F2229;
    color: #fff; 
    resize: none;
    width: 550px;
    height: 135px;
}

.form-two {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

input[type='file'] {
    display: none;
}

.custom-file-input {
    color: #fff;
    line-height: 0;
}

.custom-file-input i {
    margin-right: 10px;
    font-size: 22px;
    cursor: pointer;
}

.post {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #0076f1;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.post:hover {
    background-color: #2e71b5;
}

/* Dialog box */
.dialog {
    background-color: #fff;
    display: grid;
    place-items: center;
    max-width: 25%;
    border-radius: 3px;
    padding: 0px 20px 0px 20px;
}

.is-hidden {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.modal-bg-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 0.3);
}

.is-visible {
    display: block;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 20%;
    right: 25%;
    left: 25%;
    opacity: 1;
}
